# Byte‐compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environment dirs
env/
venv/
.venv/

# IDE/editor folders
.vscode/
.idea/

# OS files
Thumbs.db
desktop.ini

# Config files
config.ini

# Logs and SQLite DBs
*.log
*.sqlite3
