[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.24.0"
astropy = ">=5.1"
Pillow = ">=9.5"
xisf = {git = "https://github.com/sergio-dr/xisf.git"}

[dev-packages]

[requires]
python_version = "3" 